html {
 /* Variables */
 --primary-color: #00FF00;
 --secondary-color: #0000FF;
 --dark-color: #000000;
 --title-font: 'Arial';
 --body-font: 'Arial'
}

body {
 font-family: var(--body-font), serif;
 padding-top: 54px;
 color: #535c68;
}

@media (min-width: 992px) {
 body {
  padding-top: 0;
  padding-left: 17rem;
 }
}

h1, h2, h3, h4, h5, h6 {
 font-family: var(--title-font), serif;
 font-weight: 700;
 text-transform: uppercase;
 color: var(--dark-color);
}

h1 {
 font-size: 6rem;
 line-height: 5.5rem;
}

h2 {
 font-size: 3.5rem;
}

.subheading {
 text-transform: uppercase;
 font-weight: 500;
 font-family: var(--title-font), serif;
 font-size: 1.35rem;
}

.list-social-icons a {
 color: var(--primary-color);
}

.list-social-icons a:hover {
 color: var(--secondary-color);
}

.list-social-icons a .fa-lg {
 font-size: 1.75rem;
}

.list-icons {
 font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
 color: var(--secondary-color);
}

#sideNav .navbar-nav .nav-item .nav-link {
 font-weight: 600;
 text-transform: uppercase;
}

@media (min-width: 992px) {
 #sideNav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100vh;
 }
 #sideNav .navbar-brand {
  display: flex;
  margin: auto auto 0;
  padding: 0.5rem;
 }
 #sideNav .navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
 }
 #sideNav .navbar-collapse {
  display: flex;
  align-items: flex-start;
  flex-grow: 0;
  width: 100%;
  margin-bottom: auto;
 }
 #sideNav .navbar-collapse .navbar-nav {
  flex-direction: column;
  width: 100%;
 }
 #sideNav .navbar-collapse .navbar-nav .nav-item {
  display: block;
 }
 #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: block;
 }
}

section.resume-section {
 border-bottom: 1px solid #dee2e6;
 /* TODO : un peu d'espace ? */
}

section .resume-item .resume-date {
 min-width: none;
}

@media (min-width: 768px) {
 section .resume-item .resume-date {
  min-width: 18rem;
 }
 section {
  /* TODO : hauteur minimum */
 }
}

@media (min-width: 992px) {
 section {
  /* TODO : corriger padding */
 }
}

.bg-primary {
 background-color: var(--primary-color) !important;
}

.text-primary {
 /* Texte en couleur */
}

a {
 color: var(--primary-color);
}

a:hover, a:focus, a:active {
 color: var(--secondary-color);
}

